#questionnaire-page {
    display: flex;
    flex-direction: row;
    width: 95%;
    background-color: #83C5BE;
    margin-left: 2.5%;
    margin-top: 2.5%;
}
#left-section h1 {
    display: block;
}
#left-section {
    display: block;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 32px;
    align-items: center;
}

#description {
    align-self: flex-start;
    font-size: x-large;
}
.questionImage {
    width: 25%;
    display: block;
    margin: 0 auto;

}

#right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 32px;
    background-color: #006D77;
}

.questionnaireTitle {
    text-align: center;
    margin-left: 25%;
}

#line {
    display: block;
    height: 100%;
    margin: 0 auto;
    width: .5px;
    align-self: center;
    border-left: 5px solid gray;
}

#middle-section {
    display: block
}

#qna {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 90%;
    padding: 32px;
}

.answer-group {
    display: flex;
    align-self: left;
    border-left: -20px;
    margin: 5px;
    color: #EDF6F9;


}

.answers {
    display: flex;
    border-left: -50px;
    color: #EDF6F9;
    

}

.questions {
    font-size: large;
    color: #EDF6F9;
}

#submit {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    height: 30px;
    width: 80px;
    cursor: pointer;
    border-radius: 4px;
    border-color: lightblue;
    background-color: whitesmoke
}

#submit:hover {
    background-color: var(--card-hover);
    transition: all 0.2s ease;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, .2);
}