#questionnaire-page {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 32px;
}

#description {
    align-self: flex-start;
    font-size: x-large;
}

#right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 32px;
}

#line {
    display: block;
    height: 100%;
    margin: 0 auto;
    width: .5px;
    align-self: center;
    border-left: 5px solid gray;
}

#middle-section {
    display: block
}

#qna {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
    padding: 32px;
}

.answer-group {
    display: flex;
    align-self: left;
    border-left: -20px;
    margin: 5px;
}

.answers {
    display: flex;
    margin: 5px;
    border-left: -50px;
    

}

.questions {
    font-size: large;
}

#submit {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    height: 30px;
    width: 80px;
    cursor: pointer;
    border-radius: 4px;
    border-color: lightblue;
    background-color: whitesmoke
}

#submit:hover {
    background-color: var(--card-hover);
    transition: all 0.2s ease;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, .2);
}