#salaries-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#salaries-main-card {
    width: 50%;
    min-width: 600px;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
    margin: 0 0 32px 0;
    border-radius: var(--card-border-radius);
    background-color: var(--card-background);
    box-shadow: var(--card-shadow);
}
#salaries-main-card h3 {
    font-size: 1.25rem;
    text-align: center;
}

.earner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.earner h4 {
    text-align: center;
    margin: 0;
}
.earner button {
    margin: 0;
}

#salaries-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    gap: 16px;
}