.event-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--background-overlay);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    transition: all 0.2s ease;
}

.event-card:hover {
    background-color: var(--background-overlay-hover);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, .2);
}

.event-card h1 {
    font-size: 1rem;
    margin: 0 0 8px 0;
}

.event-card p {
    font-size: 0.75rem;
    margin: 0;
}

.event-card a {
    text-decoration: none;
    color: var(--primary);
    transition: all 0.2s ease;
    align-self: flex-end;
}

.event-card a:hover {
    color: var(--success);
}