#salary-card {
    /* min-width: 256px; */
    max-height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin: 8px;
    border-radius: 13px;
    background-color: var(--card);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    transition: all 0.2s ease;
}

#salary-card:hover {
    background-color: var(--card-hover);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, .2);
}

#salary-card h4 span {
    font-size: .75rem;
}